{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-router-dom$",
    "^@tabler/icons-react$",
    "<THIRD_PARTY_MODULES>",
    "^@/types(/.*)?$",
    "^@/constants(/.*)?$",
    "^@/config(/.*)?$",
    "^@/shared(/.*)?$",
    "^@/features(/.*)?$",
    "^@/hooks(/.*)?$",
    "^@/utils(/.*)?$",
    "^@/assets(/.*)?$",
    "^@/pages(/.*)?$",
    "^@/components(/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
